services:
  app-dev:
    build:
      context: .
      dockerfile: Dockerfile.dev
    container_name: learniverse-dev
    ports:
      - '5173:5173'
    volumes:
      - .:/app
      - /app/node_modules
    environment:
      - NODE_ENV=development
